42sh
arbre.pdf
AST_def_node.dot
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Docker files create by Autotools
autom4te.cache
src/.deps/
src/ast/.deps/
src/environment/.deps/
src/execution/.deps/
src/execution/execute_command/.deps/
src/execution/my_echo/.deps/
src/execution/my_redir/.deps/
src/expansion/.deps/
src/hash_map/.deps/
src/io_backend/.deps/
src/lexer/.deps/
src/parser/.deps/
